@{
    ViewData["Title"] = "Detalle de la comanda";
    Comanda comanda = ViewBag.comanda;
    List<Persona> personas = ViewBag.personas;
}

<section class="container my-5">

    <section class="container col-8 d-flex align-items-center gap-5 mb-4">
        <a class="colorSecundario" asp-controller="Comanda" asp-action="Index" asp-route-id="@ViewBag.pedidoId">
            <i class="bi bi-arrow-left-circle colorPrimario" style="font-size: 32px;"></i>
        </a>
        <h1 class="text-center">Gasto: "@comanda.Descripcion"</h1>
    </section>
    <section>
        <div class="container col-6 d-flex flex-column">
            <div class="container d-flex justify-content-end">
                <h5>Total: $ @comanda.Total.ToString()</h5>
            </div>
            <div class="container col-12">

                @{
                    if (personas != null && personas.Count > 0)
                    {
                        @foreach (Persona p in personas)
                        {
                            <div class="itemPedido fondoSecundario colorSecundario">
                                <h4 class="text-align-left">@p.Nombre</h4>
                                <p>$ @comanda.TotalPorPersona</p>
                            </div>
                        }
                    }
                }

            </div>
        </div>
    </section>
</section>