@{
    ViewData["Title"] = "Detalle del pedido";
    Pedido pedido = ViewBag.pedido;
    List<Comanda> comandas = ViewBag.comandas;
}

<section class="container my-5">

    <section class="container col-8">
        <h1 class="text-center mb-4">Pedido "@pedido.Titulo"</h1>
    </section>
    <section class="d-flex flex-column gap-5">
        <div class="text-center col-8 d-flex justify-content-center m-auto gap-5">
            <a class="fondoSecundario colorSecundario botonesNav" asp-controller="Pedido" asp-action="Detalles" asp-route-id="@pedido.PedidoId">Detalles</a>
            @*
            asp-controller="Pedido" significa que se invocará una acción del controlador PedidoController.
            
            asp-action="Detalles" indica la acción específica que se llamará dentro de PedidoController.
            
            asp-route-id="@pedido.PedidoId" agrega un parámetro de ruta (id) con el valor de pedido.PedidoId, 
            que probablemente se use para identificar un registro específico en esa acción.
            *@
            <a class="fondoSecundario colorSecundario botonesNav botonNavActivo">Gastos</a>
        </div>

        <section class="container col-6 d-flex flex-column">
            <div class="d-flex justify-content-between">
                <h5>Gastos: </h5>
                <a asp-controller="Comanda" asp-action="Crear" asp-route-idPedido="@pedido.PedidoId">
                    <i class="bi bi-plus-circle colorPrimario btn-lg"></i>
                </a>
            </div>
            <div class="container col-12">
                @{
                    if (comandas != null && comandas.Count > 0)
                    {
                        @foreach (Comanda comanda in comandas)
                        {
                            <div class="itemPedido fondoSecundario colorSecundario">
                                <h4 class="text-align-left">@comanda.Descripcion</h4>
                                <div class="d-flex justify-content-center align-items-center gap-2">
                                    <p class="m-0">$ @comanda.Total</p>
                                    <a class="btn btn-sm btn-outline-primary me-1" title="Ver detalles" asp-controller="Comanda" asp-action="Detalle" asp-route-comandaId="@comanda.ComandaId" asp-route-pedidoId="@pedido.PedidoId">
                                        <i class="bi bi-eye"></i>
                                    </a>
                                </div>
                            </div>
                        }
                    }
                }
            </div>

        </section>
    </section>
</section>