@{
    ViewData["Title"] = "Detalle del pedido";
    Pedido pedido = ViewBag.pedido;
    List<Persona> personas = pedido.Personas;
}

<section class="container my-5">

    <section class="container col-8">
        <h1 class="text-center mb-4">Pedido "@pedido.Titulo"</h1>
    </section>
    <section>
        <div class="text-center col-8 d-flex justify-content-center m-auto gap-5">
            <a class="fondoSecundario colorSecundario botonesNav botonNavActivo">Detalles</a>
            <a class="fondoSecundario colorSecundario botonesNav" asp-controller="Comanda" asp-action="Index" asp-route-id="@pedido.PedidoId">Gastos</a>
        </div>

        <section class="container col-6 d-flex flex-column">
            <div class="container d-flex justify-content-end">
                <h5>Total: $ @pedido.Total.ToString()</h5>
            </div>
            <div class="container d-flex justify-content-end">
                    @{
                         double propina = (100 * pedido.Propina) / pedido.Total;
                    }
                <h6>Propina: $@propina.ToString()</h6>
            </div>
            <div class="container col-12">

                @{
                    if (personas != null && personas.Count > 0)
                    {
                        @foreach (Persona p in personas)
                        {
                            <div class="itemPedido fondoSecundario colorSecundario">
                                <h4 class="text-align-left">@p.Nombre</h4>
                                <p>$ @p.Saldo</p>
                             </div>
                        }
                    }
                }

            </div>
        </section>
    </section>
</section>