@{
    ViewData["Title"] = "Lista de pedidos";
    List<Pedido> pedidos = ViewBag.pedidos;
}
<section class="container my-5">

    <section class="headerEspaciado col-8">
        <h2>Lista de Pedidos</h2>

        <a asp-controller="Pedido" asp-action="Crear">
            <i class="bi bi-plus-circle colorPrimario btn-lg"></i>
        </a>
    </section>

    <section class="container col-8">
        @{
            if (pedidos != null && pedidos.Count > 0)
            {
                <form asp-controller="Pedido">
                    @foreach (Pedido cadaPedido in pedidos)
                    {
                        <div class="itemPedido fondoSecundario colorSecundario">
                            <div class="d-flex gap-2">
                                <p class="fw-bold"># @cadaPedido.PedidoId</p>
                                -
                                <p>@cadaPedido.Titulo</p>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <p>@cadaPedido.Fecha.ToString("dd/MM/yyyy")</p>
                                <a class="btn btn-sm btn-outline-primary me-1" title="Ver detalles" asp-action="Detalles" asp-route-id="@cadaPedido.PedidoId">
                                    <i class="bi bi-eye"></i>
                                </a>
                                <button asp-action="Eliminar" asp-route-id="@cadaPedido.PedidoId" class="btn btn-sm btn-outline-danger" title="Eliminar" type="submit">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </div>
                        </div>
                    }
                </form>
            }
            else
            {
                <h4 class="colorSecundario text-center p-5">No hay ningun pedido</h4>
            }
        }
    </section>
</section>